* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  padding: 0;
  background-color: #98e7f8;
  background-size: 100%;
  height: 100%;
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 2.2;
}

/* ENCABEZADO ------Nav Bar------*/
h1 {
  position: block;
  padding: 0rem 1rem;
  font-family: monospace;
  font-weight: bold;
  font-size:  40px;
  color:rgb(7, 7, 7);
  line-height: 35px;
}

.img-chibi {
  width: 70px;
  top: 15px;
  cursor: pointer;
}

.img-chibi:hover {
  transform: translate(2px, -2px);
  transition: all 400ms;
}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  background: #31f2df;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.fa-bars {
  font-size: 1.5rem;
  color: #000000;
  cursor: pointer;
}

.fa-bars:hover {
  color: rgb(255, 255, 255);
}

.menu a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: block;
  padding: 0.2rem 1rem;
  font-size: 22px;
  transition: all 0.2s linear;
}

.menu a:hover {
  background: #85c0e7;
  color:  #ffffff;
  padding-left: 1.5rem;
}

.menu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-menu {
  height: 10rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 15px;
}

@media (min-width: 800px) {
  .nav-main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
    
  }
  .fa-bars {
    display: none;
  }

  .menu {
    height: auto;
    display: flex;
  }

  .menu a {
    padding: 0;
    margin: 0 1.5rem;
  }
  .menu a:hover {
    padding: 0;
    background: transparent;
  }
  .about {
    flex-direction: column;
  }
  
}


/* FILTROS */

#selectors {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-left: 82px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#directors {
  margin: 0.5rem;
}

#order_film {
  margin: 0.5rem;
}

.select {
  width: 230px;
  height: 40px;
  font-size: 19px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-appearance: button;
  appearance: button;
  padding-left: 10px;
  box-shadow: 2px 2px 2px 1.5px rgba(0, 0, 0, 0.2);
  font-family: monospace;
}

.select_placeholder {
  user-select: none;
  pointer-events: none;
}

/* CARDS PELICULAS */
.wrapper-grid {
  display:inline-flex;
  grid-template-columns: minmax(300px, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  position: relative;
}

.container {
  margin-left: 80px;
  margin-bottom: 0;
  background-size: 100% 100vh;
}

.container-2 {
  overflow: hidden;
  box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  position:relative;
  margin: 20px;
  height: 400px;
  width: 300px;
  cursor: pointer;
  border-radius: 20px;
}

.container-2:hover {
  transform: translate(4px, -4px);
  transition: all 400ms;
}

.container-2 .capa {
  position:absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  opacity: 0;
  transition: all 400ms ease-out;
  visibility: hidden;
  border-radius: 20px;
}

.container-2:hover > .capa{
  opacity: 0.9;
  visibility: visible;
}

.container-2 .img-poster {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.film-title {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 30px;
  text-align: center;
  line-height: 2rem;
}

.btn {
  width: 100px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  margin:9px;
  border-radius: 3px;
  background-color: var(--clr-primary);
}

.button-1 {
  position: absolute;
  top: 80px;
  left: 790px;
}

.button-2 {
  position: absolute;
  top: 80px;
  left: 880px;
}

.img-hoja {
  width: 110px;
  opacity: none;
  top: 60px;
}

.release-date {
  font-family: monospace;
  font-weight: bold;
  font-size: 22px;
  margin-top: 80px;
}

/*SECTION CHARACTERS */

.wrapper-grid-people {
  display:inline-flex;
  grid-template-columns: minmax(300px, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  top: 450px;
  position: relative;
  left: 95px;
  margin-right: 40px;
}

.container-people {
  overflow: hidden;
  box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;
  position:relative;
  margin: 20px;
  height: 300px;
  width: 250px;
  border-radius: 20px;
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-gradient: #5e9ad9, #e271ad;
  overflow: hidden;
}

.person-data {
  font-family: monospace;
  line-height: 1.3rem;
}

.person-data h2 {
  padding: 10px;
  font-size: 22px;
}

.container-people .img-poster{
  width: 100%;
  height: 60%;
  margin-top: 20px;
}

.container-people p {
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}

.poster-section {
  position: absolute;
  width: 80px;
}

.divSection {
  position: absolute;
  left: 115px;
  font-family: monospace;
  top: 270px;
}
.divSection img {
  width: 230px;
  top: 30px;
  position: absolute;
  border-radius: 20px;
}

.description {
  width: 1070px;
  left: 300px;
  position: absolute;
  top: 100px;
  font-size: 23px;
  font-weight: lighter;
  line-height: 1.3em;
}

.film-title2 {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  width: 800px;
  height: 35px;
  left: 300px;
  top: 25px;
}

.characters {
  top: 380px;
  font-size: 30px;
  left: 10px;
  position: absolute;
}

/* SLIDER */

.container-slider {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.slider {
  display: flex;
  width: 400%;
  height: 650px;
}

.slider-section {
  width: 100%;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.slider_btn {
  position: absolute;
  width: 55px;
  height: 55px;
  background: #31f2df;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  font-size: 45px;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.slider_btn:hover {
 background: #fff;
}

.slider_btn-left {
  left: 18px;
}

.slider_btn-right {
  right: 18px;
}


.btnFilms:hover {
  background: #fff;
}

/* -------About------- */
.about {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  margin-left: 70px;
  display: grid;
  grid-gap: 20px;
}

.about h2 {
  top: 15px;
  font-size: 45px;
}

.p-first {
  width: 750px;
  text-align: justify;
  top: 120px;
  line-height: 2.2rem;
  display: flex;
}

.p-second {
  position: absolute;
  top: 750px;
  width: 800px;
  left: 550px;
  text-align: justify;
  line-height: 2.2rem;
  display: flex;
}

.img-totoro {
  width: 330px;
  position: absolute;
  top: 640px;
  left: 150px;
  display: flex;
}

.img-hayao {
  position: absolute;
  width: 450px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1.5px rgba(5, 0, 0, 0.5);
  left: 900px;
  top: 150px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .about .p-first {
    grid-column: 1 / -1;
  }
}

/* MEDIA QUERIE */
@media screen and (min-width: 400px) {
  .wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* //Responsive Desktop */
@media screen and (min-width: 600px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* //Responsive Desktop */
@media screen and (min-width: 1000px) {
  .wrapper-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
